"*":
  core:
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "atom-dark-syntax"
    ]
    uriHandlerRegistration: "always"
  editor:
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "36a24ce6-3319-4ab7-85f3-1abe9d5fd8c6"
